header {
    display: flex;
    align-items: center;
	justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.logo {
    height: 4.5rem;
    margin: auto;
}

header h1 {
    font-family: "Kanit", sans-serif;
    color: #003566;
}

.upside-bar{
    width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-between;
    box-shadow: 0 2px 5px #000;
}

#date {
    margin: auto;
    font-family: "Raleway",sans-serif;
    color: #FFC300;
}

.social-media-logo {
    display: flex;
}
.social-media-logo a {
    justify-items: right;
}
.social-media-logo a img {
    width: 2em;
}

.upside-bar button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    
}
.upside-bar {
    background-color: #000814;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #FFC300;
    font-size: .8rem;
    font-family: "Raleway",sans-serif;
}



nav ul li.active a {
    background-color: #003566;
    color: #FFC300;
}

nav ul li a:hover {
    background-color: #001D3D;
}

nav ul {display:none}

nav ul.menu {display:block}

#menu-btn span:nth-child(1) {display: block;}
#menu-btn span:nth-child(2) {display: none;}

#menu-btn.menu span:nth-child(1) {display: none;}
#menu-btn.menu span:nth-child(2) {display: block;}

main div {
    width: auto;
    height: 15rem;
    background-color: #D3D3D3;
    border: 0.125rem solid #000;
    margin: 1em;
    padding: 1rem;
    font-family: "Raleway",sans-serif;
}

.clear-div {
    height: auto;
    background-color: unset;
    border: 0;
    margin: 0;
    padding: 0;
}
.spotlights {
    height: auto;
}

.spotlight {
    height: 7.5rem;
    padding: 1em;
    margin: 0;
}

.optional-spotlight {
    display: none;
}

.join {
    display: none;
}
footer {
    background: #001D3D;
    color: #FFC300;
    text-align: center;
    padding: 1em;
    font-family: "Raleway",sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer img {
    background-color: #fff;
    border-radius: 5px;
}

footer span {
    margin-top: 5px;
}

.bottom-info,
.bottom-box {
    font-size: 0.8em;
}

.bottom-info {
    display: flex;
    flex-direction: column;
}

.bottom-box {
    margin-top: 10px;
    border-top: solid 2px #FFC300;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.location-info,
.contact-info {
    display: flex;
    flex-direction: column;
}
.autor {
    font-weight: bold;
}