/**************** BASE STYLE ****************/

/******** HEADER ********/
header {
    display: flex;
    align-items: center;
	justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
header h1 {
    font-family: "Kanit", sans-serif;
    color: #003566;
    margin-left: 20px;
}


.logo {
    height: 4.5rem;
    margin: auto;
}



.upside-bar {
    width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-between;
    box-shadow: 0 2px 5px #000;
}

#date {
    margin: auto;
    font-family: "Raleway",sans-serif;
    color: #FFC300;
}

.social-media-logo {
    display: flex;
}
.social-media-logo a {
    justify-items: right;
}
.social-media-logo a img {
    width: 2em;
}

.upside-bar button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    
}
.upside-bar {
    background-color: #000814;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #FFC300;
    font-size: .8rem;
    font-family: "Raleway",sans-serif;
}



nav ul li.active a {
    background-color: #003566;
    color: #FFC300;
}

nav ul li a:hover {
    background-color: #001D3D;
}

nav ul {display:none}

nav ul.menu {display:block}

#menu-btn span:nth-child(1) {display: block;}
#menu-btn span:nth-child(2) {display: none;}

#menu-btn.menu span:nth-child(1) {display: none;}
#menu-btn.menu span:nth-child(2) {display: block;}


#view-btn span:nth-child(1) {display: block;}
#view-btn span:nth-child(2) {display: none;}

#view-btn.chngview span:nth-child(1) {display: none;}
#view-btn.chngview span:nth-child(2) {display: block;}

.disable-banner {
    display: none;
}

.enable-banner {
    display: block;
    
    top: 20px;
    height: auto;
    font-size: .8rem;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 3px 9px #000;
    background-color: #FFC300;
    max-width: 450px;
    align-self: center;
    position: sticky;
    z-index: 9999;
}

.enable-banner a {
    text-decoration: none;
    color: #000814;
    font-family: "Raleway", sans-serif;
}

.enable-banner button {
    background: transparent;
    border: none;
}

/******** BASE MAIN ********/

main {
    font-family: "Raleway",sans-serif;
}

main div {
    width: auto;
    height: 15rem;
    background-color: #1457a9a8;
    border: 0.125rem solid #000;
    margin: 1em;
    padding: 1rem;
    
}

main div h3 {
    margin-top: 0.5rem;
    color: #FFC300;
    font-style: italic;
}

/******** HOMEPAGE MAIN ********/
.news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: auto;
}

.news h3 {
    grid-column: 1/3;
}
.news p,
.news a {
    grid-column: 1;
}
.news img {
    grid-column: 2;
    grid-row: 2/4;
    align-self: center;
    max-width: 200px;
    margin-left: 20px;
}
.event {
    height: auto;
}
.event h3 {
    font-size: 2.5rem;
}
.event a,
.news a {
    text-decoration: none;
    color: #000;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
}
.clear-div {
    height: auto;
    background-color: unset;
    border: 0;
    margin: 0;
    padding: 0;
}

.spotlights {
    height: auto;
}

.spotlight {
    height: 7.5rem;
    padding: 1em;
    margin: 0;
}

.spotlight-description {
    border-bottom: solid 2px #FFD60A;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.1rem;
}

.spotlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.spotlight span {
    color: #FFD60A;
}
.spotlight a {
    text-decoration: none;
    color: #FFD60A;
}

.optional-spotlight {
    display: none;
}

.join {
    display: none;
}

.weather {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 3rem 2rem;
}
.weather h3 {
    margin: 0;
    color: #003566;
}
.weather h4 {
    font-size: 3rem;
    margin: auto 20px;
    min-width: 120px;
}
.weather span {
    text-align: center;

}
.weather-temperature {
    height: auto;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    
}

.weather-status {
    font-weight: bold;
    border-bottom: 2px solid #000;
    font-size: 2rem;
}
.weather-wchill,
.weather-wspeed {
    font-style: italic;
    font-size: 1.3rem;
}
.weather-wspeed {
    margin-top: 5px;
}

/******** DISCOVER MAIN ********/
.discoverpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 2rem;
}
.discoverpage h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #001D3D;
    font-family: "Kanit", sans-serif;
    margin-bottom: 1rem;
}
.discover-section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    text-align: center;
    
}
.discover-section h3 {
    margin: 0 auto;
}
.discover-section picture img {
    width: 200px;
}

.demographics {
    background-color: #003566;
    width: 100%;
    max-width: 540px;
    margin-bottom: 2rem;
    border-radius: 20px;
    border: 5px solid #000814;
}
.demographics h2 {
    color: #FFD60A;
    text-align: center;
    margin: 20px;
}
.demographics ul {
    color: #fff;
}

/******** JOIN **********/
.joinpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join-dv {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    width: auto;
    height: auto;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    
}
/******** FORM **********/

.form {
    height: auto;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.form h2 {
    margin-bottom: 0;
}

form legend {
    color: #001D3D;
    margin: 0;
    font-family: "Kanit",sans-serif;
    font-style: italic;
    padding: 0 .5rem;
    
}
form label.top, form div {
    display: block;
    color: #000814;
    margin: 1rem 0;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 1rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #001D3D;
    margin-left: 1.5rem;
}

form label textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    max-width: 20rem;
}

form fieldset {
    margin: 2rem 0;
    border: none;
    border-radius: 10px;
}


form input.submitBtn {
    border: none;
    background-color: #FFC300;
    color: #000;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 5%;
    width: 96%;
    max-width: 20rem;
}
form input.submitBtn:hover {
    background-color: #FFD60A;
}

form label.top input:required {
    background-color: rgba(255, 0, 0, 0.301);
}

form label.top input:required:valid {
    background-color: rgba(0, 255, 0, 0.301);
}
/******** MEMBERSHIP PRICES **********/
.membership-prices {
    height: auto;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prices {
    width: 100%;
    height: auto;
    background: none;
    box-shadow: 0 2px 5px #000
}
.prices h3 {
    color: #003566;
    font-size: 3rem;
    background: gray;
    overflow: hidden;
}
.prices h4 {
    font-size: 2rem;
}
.prices span {
    display: block;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10px;
}

.np-membership h3 {
    background: #90ee90;
}
.bronze-membership h3 {
    background: #cd7f32;
}
.silver-membership h3 {
    background: #D3D3D3;
}
.gold-membership h3 {
    background: #ffd700;
}

/******** THANKYOU PAGE ******/
.thankyou div {
    height: auto;
    text-align: center;
}

/******** DIRECTORY PAGE ******/
.directory {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.directory h2 {
    text-align: center;
}
.directory button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    width: 1rem;
}
.directory-content {
    border: none;
    background: none;
    height: auto;
}
/* CARDS GRID VIEW */
.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    grid-gap: 5px;
}
.grid-view .list-header {
    display: none;
}
.grid-view section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    margin: 1rem 0;
    padding: 1rem;
}

.grid-view section h3 {
    text-align: center;
    color: #003566;
}
.grid-view section span {
    text-align: center;
}
.grid-view section a {
    text-align: center;
}
/* MEMBERS LIST VIEW */
.list-view {
    display: flex;
    flex-direction: column;
}

.list-view section,
.list-view .list-header  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5px;
    border: none;
    font-size: .8rem;
    margin: 5px 0;
    padding: 0;
}
.list-view .list-header,
.list-view .list-header h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    margin: 0;
    text-decoration: none;
}
.list-view .list-header {
    margin-bottom: 10px;
}
.list-view section img,
.list-view section a,
.list-view section .a {
    display: none;
}


/******** FOOTER ********/
footer {
    background: #000814;
    color: #FFC300;
    text-align: center;
    padding: 1em;
    font-family: "Raleway",sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer img {
    background-color: #fff;
    border-radius: 5px;
}

footer span {
    margin-top: 5px;
}

.bottom-info,
.bottom-box {
    font-size: 0.8em;
}

.bottom-info {
    display: flex;
    flex-direction: column;
}

.bottom-box {
    margin-top: 10px;
    border-top: solid 2px #FFC300;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.location-info,
.contact-info {
    display: flex;
    flex-direction: column;
}
.autor {
    font-weight: bold;
}

.hero {
    
    height: auto;
    padding: 0;
    background-color: #fff;
    border: none;
    overflow: hidden;
}
.hero h3 {
    font-size: 2rem;
    color: #000;
    font-style: italic;
    margin: 0;

}
.hero a {
    display: block;
    width: 30%;
    padding: .8rem 2vw;
    margin-top: -50px;
    text-decoration: none;
    color: #000;
    background-color: #FFC300;
    border-radius: 5px;
    box-shadow: 2px 3px 9px #000;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway",sans-serif;
    text-align: center;
    position: relative;
    top: 70px;
    left:20px;

}
.hero picture { 
    z-index: -1;

}
 .hero picture img {
    width: 100%;

 }
