/****** LARGE STYLE ******/
@media (min-width:75.80em) {

.optional-spotlight {
        display: flex;
}

header {
    justify-content: left;
}

.logo {
    margin: 0 0.5em;
}

#menu-btn {
    display: none;
}

.upside-bar nav ul {
    display: flex;
    flex-direction: row;
}

.enable-banner {
    position: absolute;
    top: 5px;
    right: 20px;
}
.homepage {
    height: 50em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 1em;
    gap: 0.5em;
}

.clear-div {
    grid-column: 1;
    grid-row: 1/3;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

.join {
    grid-column: 1;
    grid-row: 3;
}

.hero {
    grid-column: 2;
    grid-row: 1/3;
}
.hero picture img {
    min-height: 684px;
    width: auto;
}

.news {
    grid-column: 2;
    grid-row: 3;
    
}
.news h3 {
    font-size: 1.5rem;
}
.spotlights {
    grid-column: 3;
    grid-row: 1/4;
    grid-template-columns: 1fr;
    gap: 0;
}
.spotlight {
    height: auto;
}
.spotlight img {
    width: 3rem;
}
.event,
.weather,
.join,
.hero,
.news,
.spotlights {
    width: auto;
    height: auto;
    margin: 0;
}
 .event h3 {
    font-size: 1.5rem;
 }


/******* DISCOVER PAGE *******/
.discoverpage {
    padding: 0 10%;
}
.discoverpage h2 {
    font-size: 3rem;
}

.discover-section {
    display: grid;
    column-gap: 2rem;

}
.discover-section h3 {
    margin: 0 auto 2rem;
    font-size: 2.5rem;
    grid-column: 1/3;
    grid-row: 1;
}

.discover-section p {
    font-size: 2rem;
    grid-column: 2;
    grid-row: 2;
}

.discover-section picture {

    grid-column: 1;
    grid-row: 2;
}

.discover-section picture img {
opacity: 0.5;
filter: blur(1px) grayscale(10%);
width: 500px;
}
.discover-section picture img:hover {
    opacity: 1;
    filter: blur(0px) grayscale(0%);
}







footer {
    font-size: 1rem;
}

.bottom-box {
    width: auto;
    flex-direction: row;
}





.weather {
    
    
    
    padding: 1rem;
}
.weather h3 {
    margin: 0;
    
}
.weather h4 {
    font-size: 2rem;
    
    min-width: auto;
}
.weather span {
    text-align: center;
    
}
.weather-temperature {
    
    margin: auto;
    padding: 0;
    
}
.weather-temperature img {
    max-height: 40px;
}

.weather-status {

    font-size: 1.15rem;
}
.weather-wchill,
.weather-wspeed {
    font-size: 1rem;
}

}