table {
	margin: 10px auto;
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color:  #000;
	font-weight: bold;
	font-size: .85rem;
}

th, td {
	padding: 7px 15px;

}

td {
	text-align: center;
}

thead th {
	border: none;
}

tbody tr:nth-child(odd) {
	background-color: rgb(163, 241, 255);
}

tbody {
	border-top: thin solid #000;
	border-bottom: thin solid #000;
}